<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Description</th>
        <th scope="col">Duration</th>
        <th scope="col">flag</th>
      </tr>
    </thead>
    <tbody *ngFor="let task of tasks; let i = index">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ task.id }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.duration }}</td>
        <td>{{ task.flag }}</td>

        <td>
          <button class="btn btn-info mx-3" (click)="onEditTask.emit(Task)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="task.id && deleteTask(task.id)"
            class="btn btn-danger mx-3"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
