<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="open" #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <div class="logo py-4">
        <img class="miImg" src="../../../assets/img/nuvectorLogo.webp" alt="" />
      </div>
      <mat-divider></mat-divider>
      <h2 matSubheader class="mt-2">aplication</h2>
      <a
        mat-list-item
        routerLink="/dashboard/add-client"
        routerLinkActive="list-item-active"
        (click)="selectedTitle = 'Clients'"
        ><mat-icon>face</mat-icon>CLient</a
      >
      <a
        mat-list-item
        routerLink="/dashboard/add-task"
        routerLinkActive="list-item-active"
        (click)="selectedTitle = 'Task Entries'"
        ><mat-icon>task</mat-icon>Task Entries</a
      >
      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="list-item-active"
        (click)="selectedTitle = 'Projects'"
        ><mat-icon>work</mat-icon>Projects</a
      >
      <a
        mat-list-item
        routerLink="/dashboard/app-graphic-chart"
        routerLinkActive=""
        (click)="selectedTitle = 'Graphics'"
        ><mat-icon>assessment</mat-icon>Graphics</a
      >
    </mat-nav-list>
  </mat-drawer>
  <div class="example-sidenav-content">
    <button mat-icon-button (click)="open = !open" mat-raised-button>
      <mat-icon>menu</mat-icon>
    </button>
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <h1>{{ selectedTitle }}</h1>
      <!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul> -->

      <div class="col-md-3 text-end">
        <button (click)="logOut()" type="button" class="btn btn-primary">
          LogOut
        </button>
      </div>
    </header>
    <div style="inset: 0; padding: 20px">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
