<div class="grapper">
  <div class="body">
    <img class="logo" src="../../../assets/img/login.png" alt="login" />
    <h1>Check in</h1>
    <form>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
        />
        <label>Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Password" />
        <label>Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Password" />
        <label>Rewrite password</label>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button class="btn btn-primary btn-lg" type="button">Send</button>
      </div>
    </form>
    <a routerLink="/login">Back</a>
  </div>
</div>
