<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Client</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Active</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let project of projects">
      <tr>
        <!-- <th scope="row">1</th> -->
        <td>{{ project["client"] | json }}</td>
        <td>{{ project["name"] | json }}</td>
        <td>{{ project["description"] | json }}</td>
        <td>{{ project["active"] | json }}</td>
        <td>
          <button class="btn btn-info mx-3"><mat-icon>edit</mat-icon></button>
          <button class="btn btn-danger mx-3">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
