<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Contry</th>
        <th scope="col">Industry</th>
        <th scope="col">Active</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let client of clients; let i = index">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.city }}</td>
        <td>{{ client.state }}</td>
        <td>{{ client.country }}</td>
        <td>{{ client.industry_code }}</td>
        <td>{{ client.active }}</td>
        <td>
          <button class="btn btn-info mx-3" (click)="onEditClient.emit(client)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="client.id && deleteClient(client.id)"
            class="btn btn-danger mx-3"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
