<div class="grapper">
  <div class="body">
    <img class="logo" src="../../../assets/img/login.png" alt="login" />
    <h1>Recover password</h1>
    <form>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
        />
        <label>Email address</label>
      </div>

      <div class="d-grid gap-2 mb-3">
        <button class="btn btn-primary btn-lg" type="button">Retrive</button>
      </div>
    </form>
    <a routerLink="/login">Back</a>
  </div>
</div>
