<div class="grapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/img/login.png" alt="login" />
    <h1>Recover password</h1>
    <form [formGroup]="recoverUser" (submit)="recover()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label>Email address</label>
      </div>

      <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-primary btn-lg">Retrive</button>
      </div>
    </form>
    <a routerLink="/login">Back</a>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
