<div class="grapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/img/login.png" alt="login" />
    <h1>NuVector Login</h1>
    <form (submit)="login()" [formGroup]="loginUser">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label>Email address</label>
        <span
          *ngIf="
            loginUser.get('email')?.hasError('required') &&
            loginUser.get('email')?.touched
          "
          class="text-danger"
        >
          the <strong>mail</strong> is required
        </span>
        <span
          *ngIf="
            loginUser.get('email')?.hasError('email') &&
            loginUser.get('email')?.touched
          "
          class="text-danger"
        >
          the <strong>mail</strong> is invalid
        </span>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
        />
        <label>Password</label>
        <span
          *ngIf="
            loginUser.get('password')?.hasError('required') &&
            loginUser.get('password')?.touched
          "
          class="text-danger"
        >
          the <strong> password</strong> is required
        </span>
        <span
          *ngIf="
            loginUser.get('password')?.hasError('minlength') &&
            loginUser.get('password')?.touched
          "
          class="text-danger"
        >
          the <strong> password</strong> must have at least 6 characters
        </span>
      </div>
      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="loginUser.invalid"
        >
          Enter
        </button>
      </div>
      <p class="mt-3">
        ¿Do you have an account? <a routerLink="/user-register">sign in</a>
      </p>
    </form>
    <a class="mt-3" routerLink="/recover-password">Recover your password</a>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
