<div class="grapper">
  <div class="body">
    <h1>Add new Task</h1>
    <form (submit)="AddTask()" [formGroup]="addTaskForm">
      <div class="form-group mb-3">
        <label>Project</label>
        <select class="form-control" formControlName="project">
          <option [ngValue]="null">--Projects's Name--</option>
          <option *ngFor="let project of projects" [ngValue]="project.id">
            {{ project["name"] }}
          </option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label>Date</label>
        <input
          class="form-control"
          formControlName="date"
          type="date"
          [value]="addTaskForm.value.date | date: 'yyyy-MM-dd'"
        />
      </div>
      <div class="form-group mb-3">
        <label>Duration</label>
        <input class="form-control" formControlName="duration" type="number" />
      </div>
      <div class="form-group mb-3">
        <label>Contractor</label>
        <select class="form-control" formControlName="contractor">
          <option [ngValue]="null">--Contractor's Name--</option>
          <option
            *ngFor="let contractor of contractors"
            [ngValue]="contractor.id"
          >
            {{ contractor.firstName + " " + contractor.lastName }}
          </option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="client">Client</label>
        <select class="form-control" formControlName="client" [disabled]="true">
          <option [ngValue]="null">--Clients's Name--</option>
          <option *ngFor="let client of clients" [ngValue]="client.id">
            {{ client.name }}
          </option>
        </select>
      </div>

      <!-- <div class="form-floating mb-3">
        <input
          class="form-control"
          placeholder="active"
          formControlName="active"
        />
        <label>Active</label>
      </div> -->
      <div class="form-group w-full mb-5">
        <label for="activity">Activity</label>
        <select class="form-control" formControlName="activity">
          <option [ngValue]="null">--Activities's Name--</option>
          <option *ngFor="let activity of activities" [ngValue]="activity.id">
            {{ activity["description"] }}
          </option>
        </select>
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Enter</button>
      </div>
    </form>
  </div>
  >
</div>
